<!DOCTYPE html>
%html{:lang => "ja"}
%head
  %meta{:charset => "UTF-8"}/
  %link{:rel => "stylesheet", :href => "application.scss", :type => "text/scss"}/
  %title ChatSpace
%body
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box__user-name testuser
        %ul.side-header__box__menu
          %li.side-header__box__menu__new_group
          %li.side-header__box__menu__edit_user
    .chat-side__groups
      .group
        .group__group-name group name
        .group__latest-message latest message
  .chat-main
    .main-header
      .main-header__left-box
        .main-header__left-box__current-group current group
        .main-header__left-box__member-list Member:test
      %a.main-header__right-box
        .main-header__right-box__edit-btn edit
    .messeges
      .messege
        .messege__upper-info
          %p.message-upper-info__talker talker
          %p.message-upper-info__date 2019/4/1(Mon)00:00:00
        %p.message__text message text
    .form
      .input-box
        .input-box__text message content
        %i.input-box__image
      .submit-btn SEND
