<!DOCTYPE html>
%html{:lang => "ja"}
%head
  %meta{:charset => "UTF-8"}/
  %link{:rel => "stylesheet", :href => "application.scss", :type => "text/scss"}/
  %title ChatSpace
%body
  .flash-box
    .notice グループを作成しました
  .chat-side
    %header.side-header
      .side-header__box
        %p.side-header__box__user-name testuser
        %ul.side-header__box__menu
          %li.side-header__box__menu__new_group
            %i.fa.fa-edit
          %li.side-header__box__menu__edit_user
            %i.fa.fa-cog
    .groups
      .group
        .group__group-name group name
        .group__latest-message latest message
  .chat-main
    %header.main-header
      .main-header__left-box
        .main-header__left-box__current-group current group
        %ul.main-header__left-box__member-list
          Member:
          %li.main-header__leftbox__member-list__member groupmember
      %a.main-header__right-box
        .main-header__right-box__edit-btn Edit
    .messages
      .message
        .message__upper-info
          %p.message__upper-info__talker talker
          %p.message__upper-info__date 2019/4/1(Mon)00:00:00
        %p.message__text message text
    .form
      %form.new_message
        .input-box
          %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
          %label.input-box__image
            %i.fa.fa-image
            %input.input-box__image__file{:name => "message[image]" ,:type => "file"}/
        %input.submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
