@import"./reset";
@import"config/valiable";

.chat-side {
  background-color: #2f3e51;
  color: $color-fff;
  .side-header {
    width: 300px;
    background-color: #253141;
    height: 100px;
    position: relative;
    &__box {
      width: 260px;
      height: 24px;
      margin-top: auto;
      top: 38px;
      position: absolute;
      margin: auto;
        &__user-name {
          font-size: 16px;
          font-weight:bold;
        }
    }
  }

}

